@model MessageSessionEditViewModel

@{ 
    ViewData["Title"] = "Edit Message";
}

<form enctype="multipart/form-data" asp-controller="MessageSession" asp-action="Edit" method="post">  
    <div class="form-group">
        <input hidden asp-for="Id" />
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <!--<div asp-validation-summary="All" class="text-danger"></div>-->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button action="submit" class="btn btn-primary">Update</button>
            <a class="btn btn-danger" asp-controller="MessageSession" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
        </div>
    </div>

    <!-- Scripts Section -->
    @section Scripts {
    }
</form>